{{template "header" .}}

<div layout-align="center center">
    <div ng-cloak>
        <md-content layout-padding>
            <h1>The CMS</h1>

            <form id="loginForm" name="loginForm" action="/login" method="post">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input required name="Email"
                           ng-model="login.email">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input required name="Email"
                           ng-model="login.email">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required name="Password"
                           ng-model="login.password">
                </md-input-container>
                <input type="hidden" name="CsrfToken" value="{{.CsrfToken}}">
                <button type="submit">Sign Up</button>
            </form>

            <p>Existing User? <a href="/login">Login</a></p>
        </md-content>
    </div>
</div>
{{template "footer"}}